.output-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 40vh;

  span {
    margin-bottom: 1rem;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 60%;
    border: 1px solid black;
  }
}